<html>
    <head>
        <title>下午茶消费列表</title>
        {% include 'html_head_meta.html' %}
        <style>
        .table th, .table td { text-align: center; }
        </style>
    </head>
    <body>
        <div class="container">
            <h5 class="text-primary" style="text-align: center;">最近十笔下午茶</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr class="bg-primary">
                            <th>序号</th>
                            <th>时间</th>
                            <th>金额</th>
                            <th>报销</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in latest_expense_list %}
                            {% if expense.is_expense %}
                                <tr class="success">
                            {% else %}
                                <tr class="warning">
                            {% endif %}
                                    <td>
                                        <a href="{% url 'expense:detail' expense.id %}" >
                                            {{forloop.counter}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'expense:detail' expense.id %}" >
                                            {{ expense.time|date:'Y-m-d'}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'expense:detail' expense.id %}" >
                                            {{ expense.money }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'expense:detail' expense.id %}" >
                                        {% if expense.is_expense %}
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        {# <a href="{% url 'expense:detail' expense.id %}" class="btn btn-primary btn-xs" role="button">编辑</a> #}
                                        <a href="{% url 'expense:del_expense' expense.id %}"  onclick="return confirm('Are You Sure?');"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align:right;">
                <a href="{% url 'expense:export_exp' %}" class="btn btn-primary btn-sm" role="button" >导出</a>
                <a href="{% url 'expense:detail' 0 %}" class="btn btn-primary btn-sm" role="button" >加一笔</a>
                </div>
            <br>
            <div class="panel-footer">
            <a href="http://www.miitbeian.gov.cn" target="_blank" class="slide slide-ct">粤ICP备17018302</a>
            </div>
            </div>
        </body>
    </html>